<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Créditos - JJOO</title>
</head>
<body class="bg-light text-dark">
    <header class="container-fluid bg-primary text-light py-3 mb-3">
        <div class="d-flex justify-content-center">
            <img class="img-fluid" src="~/img/jjoo-logo.png" alt="logo" height="80" width="120">
            <div class="ms-3">
                <h1 class="h3 mb-0">JJOO</h1>
                <p class="text-light mb-0 text-decoration-underline">¡Esperamos que hayan podido utilizar nuestra pagina comodamente!</p>
            </div>
        </div>
    </header>
    <div class="container text-center my-5">
        <h1 class="display-4 fw-bold">Créditos</h1>
        <p class="lead">JJOO</p>

        <div class="row mt-5">
            <div class="col-md-6 mb-4">
                <div class="card bg-light border-primary h-100">
                    <div class="card-body text-center">
                        <img src="~/img/fototlt.png" class="rounded-circle mb-3" alt="Foto tomas" height="200" width="200">
                        <h3 class="card-title">Tomas Torchinsky</h3>
                        <a href="https://github.com/varcharTomas/" class="btn btn-outline-primary mt-3">Ver más</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="card bg-light border-primary h-100">
                    <div class="card-body text-center">
                        <img src="~/img/fotojp.png" class="rounded-circle mb-3" alt="Foto joaquin" height="200" width="200">
                        <h3 class="card-title">Joaquín Paterno</h3>
                        <a href="https://github.com/jpaterno11/" class="btn btn-outline-primary mt-3">Ver más</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
