@{
    ViewData["Title"] = "Inicio - Juegos Olímpicos";
}

<div class="container-fluid p-0">
    <section class="banner-jjoo text-white d-flex align-items-center justify-content-center">
        <div class="text-center">
            <h1 class="display-4 font-weight-bold">Bienvenidos a los Juegos Olímpicos</h1>
            <p class="lead mt-3">Explora las últimas noticias, eventos, y resultados de los JJOO.</p>
            <a href="#more-info" class="btn btn-primary btn-lg mt-4">Saber más</a>
        </div>
    </section>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-8">
            <h2>Sobre Nosotros</h2>
            <p>
                Este sitio web proporciona información actualizada sobre los Juegos Olímpicos, 
                incluyendo noticias de última hora, perfiles de atletas, y un calendario completo de eventos.
                Mantente informado con las últimas novedades y los logros deportivos más destacados.
            </p>
        </div>
        <div class="col-md-4">
            <img src="~/img/descripcion_jjoo.jpg" alt="Imagen Representativa JJOO" class="img-fluid rounded">
        </div>
    </div>
</div>
<div id="more-info" class="container mt-5">
    <h2>Explora Más</h2>
    <p>
        Descubre detalles sobre las sedes, los deportes participantes, y mucho más. 
        Únete a nosotros en esta celebración global del deporte y la amistad.
    </p>
</div>